<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SalesService.Properties.Settings.RMSModel" connectionString="metadata=res://*/RMSEntities.csdl|res://*/RMSEntities.ssdl|res://*/RMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ALPHAQUEST-PC\SQLEXPRESS2012;initial catalog=RMSPos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
            providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>